Listas [ ] - Uma lista é um tipo de sequencia de dados

In [1]:
Participantes = ["Jonh", "Leila", "Gregory", "Cate"]
Participantes

['Jonh', 'Leila', 'Gregory', 'Cate']

In [2]:
Participantes[2]

'Gregory'

In [3]:
Participantes[-1]

'Cate'

In [4]:
Participantes[-2]

'Gregory'

In [6]:
# Substituindo valores em listas
Participantes[3] = "Maria"
Participantes

['Jonh', 'Leila', 'Gregory', 'Maria']

In [7]:
# Excluindo um valor da lista
del Participantes[2]
Participantes

['Jonh', 'Leila', 'Maria']

In [8]:
# Adicionando UM valor a uma lista
Participantes.append("João")
Participantes

['Jonh', 'Leila', 'Maria', 'João']

In [9]:
# Adicionando MAIS DE UM valor na lista
Participantes.extend(["Jose", "Gustavo"])
Participantes

['Jonh', 'Leila', 'Maria', 'João', 'Jose', 'Gustavo']

In [10]:
print("O primeiro participante é : " + Participantes[0] + ".")

O primeiro participante é : Jonh.

In [11]:
len(Participantes)

6

Slicing de listas

In [12]:
# Leia-se : como até, ou DE:ATÉ
# 1 - Posição de interesse
# 3 - Posição acima da última posição
Participantes[1:3]

['Leila', 'Maria']

In [13]:
# Para pegar do primeiro, não precisa especificar nada antes dos :
Participantes[:2]

['Jonh', 'Leila']

In [14]:
# Pegando os dois últimos
# Iniciando em 4:ATÉ o fim
Participantes[4:]

['Jose', 'Gustavo']

In [15]:
# Mesmo efeito que o de cima
Participantes[-2:]

['Jose', 'Gustavo']

In [16]:
# Index - Para achar uma posição
Participantes.index("Maria")

2

In [18]:
# Criando uma lista de listas
Newlista = ["Fulona", "Fulaninho"]
Newlista

['Fulona', 'Fulaninho']

In [19]:
Bigger_lista = [Participantes, Newlista]
Bigger_lista

[['Jonh', 'Leila', 'Maria', 'João', 'Jose', 'Gustavo'],
 ['Fulona', 'Fulaninho']]

In [21]:
# Ordenando em ordem alfabetica
Participantes.sort()
Participantes

['Gustavo', 'Jonh', 'Jose', 'João', 'Leila', 'Maria']

In [23]:
# Ordenando na ordem inversa
Participantes.sort(reverse=True)
Participantes

['Maria', 'Leila', 'João', 'Jose', 'Jonh', 'Gustavo']

In [24]:
Numbers = [1,2,3,4]
Numbers.sort()
Numbers

[1, 2, 3, 4]

In [26]:
Numbers.sort(reverse=True)
Numbers

[4, 3, 2, 1]

Tuplas () - São um tipo de sequencia de dados, diferente das listas,
são imutáveis - TIPO DE SEQUENCIA PADRÃO NO PYTHON

In [27]:
x = (10,20,30)
x

(10, 20, 30)

In [28]:
# Valores sendo inseridos numa tupla
y = 10,20,30
y

(10, 20, 30)

In [29]:
# Atribuindo a uma tupla de variaveis, tupla de valores
a,b,c = 1,2,3
b

2

In [31]:
# Podemos indicar a sua posição na tupla
y[0]

10

In [33]:
# Podemos colocar tuplas, dentro de listas
lista_de_tuplas = [x,y]
lista_de_tuplas

[(10, 20, 30), (10, 20, 30)]

In [35]:
# Atribuinto valores a uma tupla, usando um separador
(idade, anos) = "10,30".split(',')
print(idade)
print(anos)

10
30

In [57]:
# Tuplas, como retorno de uma função
def raiz(x):
    area = x ** 2
    perimetro = 4 * x
    print("Area:",area)
    print("Perimetro:",perimetro)
    return area,perimetro

In [58]:
raiz(5)

Area: 25
Perimetro: 20

(25, 20)

Dicionários {"Chave" : "valor"}

In [59]:
dict = {"a" : "1", "b" : "2", "c" : "3"}
dict

{'a': '1', 'b': '2', 'c': '3'}

In [61]:
dict["a"]

'1'

In [63]:
dict["c"]

'3'

In [64]:
# Add valor ao dicionario
dict["d"] = "4"
dict

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [65]:
# Substituindo valor
dict["a"] = 10
dict

{'a': 10, 'b': '2', 'c': '3', 'd': '4'}

In [66]:
# Podemos adiocionar listas a um dicionario
dep_workers = {"dep1" : "Peter", "dep2" : ["Jennifer", "Micheal", "Tommy"]}
dep_workers

{'dep1': 'Peter', 'dep2': ['Jennifer', 'Micheal', 'Tommy']}

In [67]:
dep_workers["dep2"]

['Jennifer', 'Micheal', 'Tommy']

In [68]:
dep_workers["dep2"][1]

'Micheal'

In [69]:
# Outra maneira de criamos dicionarios
Team = {}
Team["Point Guard"] = "Dirk"
Team["Center"] = "Hector"
Team

{'Point Guard': 'Dirk', 'Center': 'Hector'}

In [70]:
Team["Center"]

'Hector'

In [71]:
Team.get("Point Guard")

'Dirk'

In [73]:
# Em caso de valor inexistente
print(Team.get("XYZ"))

None